<!--adding an html page to write about the restaurant-->
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Dhans Kitchen</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.1.3.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
<div class="container"> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar1">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbar1">
<ul class="navbar-nav mr-auto">
<li class="nav-item"> <a class="nav-link" href="javascript:window.location.href='http://localhost:8080/'">Home</a> </li>
<li class="nav-item"> <a class="nav-link" href="javascript:window.location.href='http://localhost:8080/about'">About</a> </li>
<li class="nav-item"> <a class="nav-link" href="javascript:window.location.href='http://localhost:8080/menu'">Menu</a> </li>
</ul>
</div>
</div>
</nav>
<div class="py-5">
<div class="container">
<div class="row">
<div class="col-md-12">
    <h1 class=""><strong>Dhans Kitchen</strong></h1>
<p class="" style="color: white;"><strong>Welcome to Dhans Kitchen. Dhans Kitchen is a family run restaurant that specializes in Various cuisines. We were established in 2000, and have been offering great food and services for 22 years now. We offer a wide variety of dishes that are prepared with the freshest ingredients. We are open daily 24 * 7. We deliver food to your home and also cater parties. Call or Email us to know more. Hope you enjoy or service!</strong></p>
</div>
</div>
</div>
</div>
<style>
    body{
        background-image : url("https://thumbs.dreamstime.com/b/healthy-food-selection-healthy-food-selection-fruits-vegetables-seeds-superfood-cereals-gray-background-121936825.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
</body>
</html>