<!--create html page to display restaurant menu-->
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Dhans Kitchen</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.1.3.css">
<style>
ul#menu li{
    display: inline;
}
</style>
</head>
<body>
<style>
body {
    background-image: url("https://t4.ftcdn.net/jpg/03/54/72/63/360_F_354726339_wDkWbhZDjFvxYafghZ5lvEv5kRVsY35L.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
<div class="container"> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar1">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbar1">
<ul class="navbar-nav mr-auto">
<li class="nav-item"> <a class="nav-link" href="javascript:window.location.href='http://localhost:8080/'">Home</a> </li>
<li class="nav-item"> <a class="nav-link" href="javascript:window.location.href='http://localhost:8080/about'">About</a> </li>
<li class="nav-item"> <a class="nav-link" href="javascript:window.location.href='http://localhost:8080/menu'">Menu</a> </li>
</ul>
</div>
</div>
</nav>
<br>
<div style="display: table; margin-left:  20%; align-items: center;">
    <!--add header-->
    <h1 style="color: white;"><strong>Lunch</strong></h1>
    <br
    <p1 style="color: white;">Available through out the day!</p1>
    <br>
    <br>
    <!-- add list of items-->
    <list style="list-style-type: none; color: white;" >
        <li style="font-size: medium;"> Pasta...................20 </a> </li>
        <p1 style="font-size: small;"> contains mushroom, broccoli, milk and cheese</p1>
        <br>
        <br>
        <li style="font-size: medium;"> Paneer tikka masala...........14</a> </li>
        <p1 style="font-size: small;"> contains paneer, cream, tomato and onion</p1>
        <br>
        <br>
        
        <li style="font-size: medium;"> Roti..................4 </a> </li>
        <p1 style="font-size: small;"> contains wheat and oil</p1>
        <br>
        <br>
        
        <li style="font-size: medium;"> Burger.............12 </a> </li>
        <p1 style="font-size: small;">fresh buns with beef patty</p1>
        <br>
        <br>
        
        <li style="font-size: medium;"> Hakka Noodles..............14 </a> </li>
        <p1 style="font-size: small;"> contains mushroom, broccoli and onions</p1>
        <br>
        <br>
        
        <li style="font-size: medium;"> Biryani..............15 </a> </li>
        <p1 style="font-size: small;"> contains chicken, and spices</p1>
        <br>
        <br>
        
        <li style="font-size: medium;"> Fried Rice..............13 </a> </li>
        <p1 style="font-size: small;"> contains egg, soy, beans and carrots</p1>
         </list>
     </ul>
 </div>
</body>
</html>